html,
body,
h1 {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Courier new, monospace;
  font-weight: inherit;
  font-style: inherit;
}

header {
  padding:10px;
  text-align: right;
}

main {
   min-height:100%;
   position:relative;
}

ul {
  padding: 0 20px;
}

li {
  font-size: 15px;
}

.nav__list li {
  display: inline;
}

.about__list li {
  display: inherit;
}

.contact__list li {
  display: inherit;
}

header {
  padding: 0 auto;
  text-align: right;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  background-color: yellow;
}

p {
  font-size: 25px;
  text-align: center;
  align-content: center;
  color: black;
}

h1 {
  font-size: 40px;
  text-align: center;
  color: black;
}

@media (max-width: 450px) {
  h1 {
    margin: 0 2rem;
  }
}

em {
  background: yellow;
}

.hero {
  position: relative;
  overflow: hidden;
}

@media (max-width: 450px) {
  .hero {
    position: initial;
  }
}

.hero__copy {
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
}

@media (max-width: 450px) {
  .hero__copy {
    top: 3rem;
  }
}

.hero__image {
  border: 1px solid papayawhip;
  position: relative;
  width: 100%;
  opacity: 0.25;
}

@media (max-width: 450px) {
  .hero__image {
    display: none;
  }
}

.about__copy {
  width: 49%;
  display: inline-block;
  float: right;
  padding-top: 15%;
}

@media (max-width: 450px) {
  .about__copy {
    width: 100%;
    padding-top: 5%;
    margin: 0 auto;
  }
}

.about__image {
  border: 1px solid papayawhip;
  display: inline-block;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  opacity: 0.50;
}

@media (max-width: 450px) {
  .about__image {
    width: 100%;
  }
}

footer {
  font-size: 15px;
  text-align: center;
  width:100%;
  margin: 2rem 0;
}

.footer__copy {
  padding-top: 15%;
  margin: 2rem 0;
}

@media (max-width: 450px) {
  .footer__copy {
    padding-top: 50%;
    margin: 2rem;
  }
}
